/* Variables */
:root {
  --spacing: 8px;
  --color-white: #fff;
  --color-dark: #333;
  --color-primary: #18a0fb;
}

/* Fonts */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('https://rsms.me/inter/font-files/Inter-Regular.woff2') format('woff2'),
    url('https://rsms.me/inter/font-files/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('https://rsms.me/inter/font-files/Inter-Medium.woff2') format('woff2'),
    url('https://rsms.me/inter/font-files/Inter-Medium.woff') format('woff');
}

/* Global styles */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Layout */
.container {
  font-size: 12px;
}

.container > * + * {
  margin-top: var(--spacing);
}

h1 {
  font-size: 14px;
}

/* Button */
.button {
  display: block;
  width: 100%;
  height: 32px;
  padding: 0 15px;
  border: 1px solid var(--color-dark);
  border-radius: 6px;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-size: 11px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: var(--color-dark);
  background-color: var(--color-white);
}

.button:focus,
.button:active {
  line-height: 28px;
  border: 2px solid var(--color-primary);
}

.button--primary {
  border-color: var(--color-primary);
  color: var(--color-white);
  background-color: var(--color-primary);
}

.button--primary:focus,
.button--primary:active {
  border-color: rgba(0, 0, 0, 0.3);
}
